#presentext{
    padding-top: 5em;
    padding-bottom: 5em;
    color: wheat;
  }
  
   #topbanner{
    background-image:url("src/images/pictures/headerbackground.jpg"); 
    background-size: cover;
    background-repeat: no-repeat;
  } 
  
  #presentation{
    color:brown;
  }
  
  #carterigth{
    border-right: 1px solid black;
  }

  footer{
    position: relative;
  }